
.search-form .search-field {
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form .search-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#sidebar {
    background-color: #00b9eb;
}

.tag a {
    color: white;
    text-decoration: none;
    transition: none 86ms ease-out 0s ;
}
.tag a:hover {
    color: rgba(255, 255, 255, 0.7);
}