/* begin increase font */
html {
    font-size: 16px;
}
/* end increase font */


/* begin code snippet style */
pre code {
    line-height: 1.5;
}
.normal pre code {
    white-space: normal;
}
/* end code snippet style */


/* begin highlightjs style override */
.hljs {
    padding: 16px 20px;
}
/* end highlightjs style override */


/* begin prism style override */
pre[class*="language-"] {
    margin: 0;
    padding: 0;
}
/* end prism style override */


/* begin searchform style */
.search-form .search-field {
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form .search-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* end searchform style */


/* begin sidebar style */
#sidebar {
    background-color: #00b9eb;
}
/* end sidebar style */


/* begin tag style */
.tag a {
    color: white;
    text-decoration: none;
    transition: none 86ms ease-out 0s ;
}
.tag a:hover {
    color: rgba(255, 255, 255, 0.7);
}
/* end tag style */


/* begin commentlist style */
.media .media-content .content a:not(.button) {
    border-bottom: none;
    color: #363636;
}

.media .media-content .content a:hover:not(.button) {
    border-bottom: 1px solid #363636;
}

.media .media-content .content blockquote:not(:last-child),
.media .media-content .content ol:not(:last-child),
.media .media-content .content p:not(:last-child),
.media .media-content .content ul:not(:last-child) {
    margin-bottom: 0;
}

.comment-awaiting-moderation {
    font-style: italic;
    color: #767676;
}

.comment-list, .comment-list ol, .comment-list ul {
    list-style-type: none;
}

#comments .title {
    margin: 0;
}

#comments .media {
    border-bottom: 1px solid rgba(219, 219, 219, 0.5);
    padding: 10px 0;
}
/* end commentlist style */


/* begin delete hide style */
.wp-admin .delete {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: auto;
    height: auto;
}
.wp-admin .delete::after, .wp-admin .delete::before {
    display: none;
    background: none;
    content: normal;
    width: auto;
    height: auto;
    margin: 0;
    position: static;
    left: auto;
    top: auto;
}
.wp-admin .delete:hover {
    background: none;
}
/* end delete hide style */


/* begin comment pagination style */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.comment-nav .navigation {
    padding: 10px;
}
.comment-nav .nav-links > span,
.comment-nav .nav-links > a,
.comment-nav .nav-item > a {
    -moz-appearance: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-user-select: none;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    justify-content: center;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
.comment-nav .nav-item > a:hover {
    border-color: #b5b5b5;
    outline: medium none;
    color: #363636;
}
/* end comment pagination style */


/* begin comment form style */
#reply-title {
    word-break: break-all;
    font-size: 26px;
    font-weight: 700;
}
#commentform p {
    margin: 0 0 1rem;
}
#commentform label {
    color: #363636;
    display: block;
    font-weight: bold;

}
#commentform label:not(:last-child) {
    margin-bottom: 5px;
}
#commentform #comment {
    width: 100%;
}
#commentform #submit {
    -moz-appearance: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    -moz-user-select: none;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    justify-content: center;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
/* end comment form style */
